
requests

logging
urllib3
datetime
numpy
pandas

matplotlib
matplotlib-inline
seaborn
plotnine
plotly
sktime
scikit-learn
pytimetk


shiny
shinywidgets
urllib3
uvicorn
wcwidth
webencodings
websockets
widgetsnbextension
rsconnect-python



gunicorn
shinyswatch
Jinja2

tabulate
langchain
langchain_openai
langchain-experimental
langsmith
ibis
ibis-framework
ibis-framework[duckdb]
