
requests

logging
urllib3
datetime
numpy<2

pandas

matplotlib
matplotlib-inline
seaborn
plotnine
plotly
sktime
pmdarima
scipy<1.16
scikit-learn
pytimetk
neuralforecast>=1.6.4

shiny
shinywidgets
urllib3
uvicorn
wcwidth
webencodings
websockets
widgetsnbextension
rsconnect-python
torch


gunicorn
shinyswatch
Jinja2

tabulate
langchain
langchain_openai
langchain-experimental
langsmith
chatlas

databricks-connect
python-dotenv
